@import "src/theme/variables";


/**
HEADER CONTROL WITH AUTO COMPLETE
 */
 .header {
    width: 100%;
    padding: 15px 10px 10px 10px;
    position: fixed;
    z-index: 999 !important;
    background-color: #4c26a5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      width: 100%;
      height: 100%;
      max-width: $theme-container-width;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 200px 10fr 220px;
      grid-template-rows: auto;
      grid-gap: 30px;
      z-index: 1000;

    }




  }
  .logo {
    max-width: 200px;
    margin-top: 0;
    width: 30%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 6px;

    &:focus {
      outline: none;
    }
    img{
      max-width: 170px;
      // height: 50px;
      width: 100%;
    }
    .menu-bar{
      max-width: 30px;
      display: none;
    }
    .menu-bar span{
      padding: 5px;
      color: $color-primary;
      font-size: 19px;
      display: block;
      position: relative;
      top: 7px;
    }
  }


.header-right{
    display: block;
    width: 100%;
  }
  .header-right-main{
    display: block;
    width: 100%;
  }
  .header-right-main ul{
    list-style: none;
    padding: 0px;
    text-align: right;
  }
  .header-right-main ul li{
    display: inline-block;
    margin-right: 10px;
  }
  .header-right-main ul li:last-child{
    margin: 0px;
  }
  .header-right-main ul li a{
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 15px;
    color: #584414;
    padding: 3px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
  }
  // .header-right-main ul li a i{
  //   display: inline-block;
  //   margin-right: 5px;
  // }

  .header-right-responsive{
    display: none;
  }
  .header-right-responsive ul{
    list-style: none;
    display: block;
    padding: 0px;
    text-align: right;
  }
  .header-right-responsive ul li{
    display: inline-block;
    margin-right: 10px;
  }
  .header-right-responsive ul li:last-child{
    margin: 0px;
  }
  .header-right-responsive ul li a{
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 15px;
    color: $color-primary;
    padding: 3px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  .header-right-responsive ul li .upload-pres{
    background-color: $color-primary;
    font-family: $font-en-primary;
    font-weight: 500;
    font-size: 14px;
    max-width: 100%;
    display: inline-block;
    color: $color-primary;
    padding: 8px 12px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;

  }
  @media(max-width:820px){
    .header{
      .container{
        grid-template-columns: 180px 1fr;
      }
      .menu-area{
        display: none;
      }
      .search{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        margin-top: 15px;
      }
    }
    .header-right{
      grid-column-start: 2;
      grid-row-start: 1;
    }
    .header-right-main{
      display: none;
    }
    .header-right-responsive{
      display: block;
    }
    .logo {
      .menu-bar{
        display: block;
      }

    }

  }
  @media(max-width:588px){
    .header-right-responsive ul li a span{
      display: none;
    }
    .header-right-responsive ul li a{
      padding:3px 4px;
      box-sizing: border-box;
      font-size: 17px;
    }
    .header-right-responsive ul li{
      margin-right: 3px;
    }
  }
  @media(max-width:400px){
    .header-right-responsive ul li .upload-pres{
      font-size: 13px;
      padding: 5px 8px;
    }
    .header{
      .container{
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .header-right-responsive ul li .upload-pres{
      display: none;
    }
    .header-right-responsive ul li a{
      font-size: 17px;
      position: relative;
      top: 10px;
    }
  }

@media only screen and (min-width: 600px) and (max-width: 1279px) {

    .header {
      .container {
        gap: 30px;
      }
    }

  }
